<!DOCTYPE html>
<html>
    <head>
        <title>IPFS Demo</title>
    </head>
    <body>
        <h1>Upload file to IPFS</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data"></form>
        <label>File Name</label>
        <input type="text" name="FileName">
        <br><b>
        <label>Upload File</label>
        <input type="file" name="file">
        <br><b>
        <input type="submit" value="Submit">
    </body>
</html> 